<!DOCTYPE html>
<html>
<head>
    <title>小说有读_清爽无弹窗广告的网络小说阅读网</title>
    <meta name="keywords" content="小说有读,无弹窗,笔趣阁,小说"/>
    <meta name="description" content="小说有读是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/bqg.css" rel="stylesheet" type="text/css"/>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div id="row" style="text-align:left;">
            <div class="col-sm-4">
                <a href="/">
                    <div class="s_lg_img text-left" style="background:url(/images/logo.png);width:200px;height:60px;">
                    </div>
                </a>
            </div>
            <div class="col-sm-8">
                <form class="s-form" class="text-right" action="/search.html" method="get">
                    <input type="text" name="key" placeholder="请输入您要搜索的关键字" class="s_ipt" maxlength="100" value="">
                    <input type="submit" value="摆渡一下" class="s_btn">
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">

            <div class="listlie" style="text-align:left;">
                <h2><%= book.title %></h2>
                <ul>

                    <% book.catalogs.forEach(function(catalog){ %>
                    <li>
                        <a href='/book/<%= book.id %>/<%= catalog.catalog_id %>.html' target="_blank"><%= catalog.title %></a>
                    </li>
                    <% }) %>

                </ul>
            </div>

        </div>
    </div>
    <div class="footer">
        <p class="legal">小说有读 致力为您打造最优越的网络小说阅读环境。</p>
        <p class="legal">小说有读 所有书籍搜索采集于互联网，是本站全自动蜘蛛爬行，无人工干预，如果侵犯了您的权益请及时联系我们。</p>
        <p class="legal">&mdash; &copy; 2017 powered by liubaicai &mdash;</p>
    </div>
</div>
</body>
</html>