
<div class="row">

  <div class="listlie" style="text-align:left;">
    <h2><%= @page_title || 'Books' %></h2>
    <ul>

      <% @books.each do |book| %>
          <li>
            <a href='/<%= book.id %>.html' target="_blank"><%= book.title.split(@key).join("<font color='red'>#{@key}</font>") %></a>
            (<% if book.close==1 %><font color="#49A9A9">完</font><% else %>载<% end %>) /<%= book.author %>
          </li>
      <% end %>

    </ul>
  </div>

</div>