
<div class="row">

  <div class="listlie" style="text-align:left;">
    <h2><%= @book.title %></h2>
    <ul>

      <% @book.catalogs(:order => [ :catalog_id ]).each do |catalog| %>
          <li>
            <a href='<%= catalog.src %>' target="_blank"><%= catalog.title %></a>
          </li>
      <% end %>

    </ul>
  </div>

</div>
