<h4><%= @book.title %></h4>
<div class="text-left row">
  <% @book.catalogs(:order => [ :catalog_id ]).each do |catalog| %>
      <div class="col-sm-3"><a href='<%= catalog.src %>' target="_blank"><%= catalog.title %></a></div>
  <% end %>
</div>
