
<link href="/styles/bqg.css" rel="stylesheet" type="text/css"/>

<div class="row" style="width: 96%;max-width: 990px;margin:0 auto;text-align:center;">
  <div id="row index_last" style="text-align:left;">
    <div class="index_toplist mright">
      <div class="toptab">
        <span>本周点击</span>
      </div>
      <div class="index_top">
        <ul>

          <li><span class="hits">3923</span><span class="genre">[网游动漫]</span><a href="http://www.bqg5200.com/book/6652/" target="_blank">我的房间有扇任意门</a></li>

          <li><span class="hits">1891</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/2893/" target="_blank">九星霸体诀</a></li>

          <li><span class="hits">1409</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/4215/" target="_blank">神医小农民</a></li>

          <li><span class="hits">1241</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/4463/" target="_blank">一念永恒</a></li>

          <li><span class="hits">1224</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/3456/" target="_blank">尊上</a></li>

          <li><span class="hits">1202</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/62/" target="_blank">雪鹰领主</a></li>

          <li><span class="hits">1145</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/4241/" target="_blank">赤龙武神</a></li>

          <li><span class="hits">1123</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/296/" target="_blank">大主宰</a></li>

          <li><span class="hits">1075</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/6774/" target="_blank">捡宝王</a></li>

          <li><span class="hits">981</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/189/" target="_blank">我真是大明星</a></li>

        </ul>
      </div>
    </div>
    <div class="index_toplist mright">
      <div class="toptab">
        <span>本周推荐</span>
      </div>
      <div class="index_top">
        <ul>

          <li><span class="hits">25</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/417/" target="_blank">俗人回档</a></li>

          <li><span class="hits">16</span><span class="genre">[历史军事]</span><a href="http://www.bqg5200.com/book/3615/" target="_blank">醉迷红楼</a></li>

          <li><span class="hits">13</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/3577/" target="_blank">系统之乡土懒人</a></li>

          <li><span class="hits">11</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/4463/" target="_blank">一念永恒</a></li>

          <li><span class="hits">11</span><span class="genre">[历史军事]</span><a href="http://www.bqg5200.com/book/5724/" target="_blank">调教大宋</a></li>

          <li><span class="hits">10</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/5640/" target="_blank">我的1979</a></li>

          <li><span class="hits">10</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/6324/" target="_blank">天道图书馆</a></li>

          <li><span class="hits">9</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/6168/" target="_blank">圣墟</a></li>

          <li><span class="hits">9</span><span class="genre">[侦探推理]</span><a href="http://www.bqg5200.com/book/6270/" target="_blank">主神崛起</a></li>

          <li><span class="hits">8</span><span class="genre">[网游动漫]</span><a href="http://www.bqg5200.com/book/278/" target="_blank">大穿越时代</a></li>

        </ul>
      </div>
    </div>
    <div class="index_toplist mright">
      <div class="toptab">
        <span>编辑推荐</span>
      </div>
      <div class="index_top">
        <ul>

          <li><span class="hits">331</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/2893/" target="_blank">九星霸体诀</a></li>

          <li><span class="hits">241</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/3538/" target="_blank">我的庄园</a></li>

          <li><span class="hits">215</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/3213/" target="_blank">修真聊天群</a></li>

          <li><span class="hits">213</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/189/" target="_blank">我真是大明星</a></li>

          <li><span class="hits">203</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/3590/" target="_blank">龙王传说</a></li>

          <li><span class="hits">182</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/62/" target="_blank">雪鹰领主</a></li>

          <li><span class="hits">166</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/419/" target="_blank">医鼎</a></li>

          <li><span class="hits">154</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/296/" target="_blank">大主宰</a></li>

          <li><span class="hits">142</span><span class="genre">[武侠修真]</span><a href="http://www.bqg5200.com/book/6227/" target="_blank">神级巫医在都市</a></li>

          <li><span class="hits">138</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/5102/" target="_blank">我的美女公寓</a></li>

        </ul>
      </div>
    </div>
    <div class="index_toplist">
      <div class="toptab">
        <span>精品排行</span>
      </div>
      <div class="index_top">
        <ul>

          <li><span class="hits">263351</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/4463/" target="_blank">一念永恒</a></li>

          <li><span class="hits">239287</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/2893/" target="_blank">九星霸体诀</a></li>

          <li><span class="hits">207139</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/4215/" target="_blank">神医小农民</a></li>

          <li><span class="hits">180479</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/62/" target="_blank">雪鹰领主</a></li>

          <li><span class="hits">159635</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/4241/" target="_blank">赤龙武神</a></li>

          <li><span class="hits">144178</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/2948/" target="_blank">神偷杀手雇佣兵</a></li>

          <li><span class="hits">133315</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/3456/" target="_blank">尊上</a></li>

          <li><span class="hits">130010</span><span class="genre">[玄幻魔法]</span><a href="http://www.bqg5200.com/book/296/" target="_blank">大主宰</a></li>

          <li><span class="hits">126208</span><span class="genre">[都市言情]</span><a href="http://www.bqg5200.com/book/5102/" target="_blank">我的美女公寓</a></li>

          <li><span class="hits">120779</span><span class="genre">[侦探推理]</span><a href="http://www.bqg5200.com/book/555/" target="_blank">绝对牧师</a></li>

        </ul>
      </div>
    </div>
    <div class="list_center w_770 left" style="margin-right: 13px;">
      <div class="update_title">
        <span class="update_icon">更新列表</span>
        <span class="tabRight"><a href="/all.html">查看更多&gt;&gt;</a></span>
      </div>
      <div class="update_list">
        <ul>

          <li><span class="genre">[都市言情]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6392/"> 透视小狂医</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6392/4670129.html">第665章 最后的力量！</a></span><span class="r_spanthree">2017-05-12 14:27:50</span><span class="r_spanfour">4806k</span><span class="r_spanfive">花落秋</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/4993/"> 诡道传人</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/4/4993/4670128.html">第1168章 狠狠教训，说了实话！</a></span><span class="r_spanthree">2017-05-12 14:27:32</span><span class="r_spanfour">5701k</span><span class="r_spanfive">龙雅人</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6532/"> 太上剑尊</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6532/4670127.html">第462章 现在说后悔，还来的及吗？</a></span><span class="r_spanthree">2017-05-12 14:26:41</span><span class="r_spanfour">2567k</span><span class="r_spanfive">飘零幻</span></li>

          <li><span class="genre">[武侠修真]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/7590/"> 重生之逆战西游</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/7/7590/4670126.html">第五百零一章 牧长生的“天地法域”</a></span><span class="r_spanthree">2017-05-12 14:25:42</span><span class="r_spanfour">2577k</span><span class="r_spanfive">莫问初心</span></li>

          <li><span class="genre">[都市言情]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/5613/"> 三界直播客户端</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/5/5613/4670124.html">第746章 矛盾</a></span><span class="r_spanthree">2017-05-12 14:25:38</span><span class="r_spanfour">5100k</span><span class="r_spanfive">无极小风侠</span></li>

          <li><span class="genre">[网游动漫]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6994/"> 超时空穿梭</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6994/4670123.html">第280章 ，抱歉，还是不够</a></span><span class="r_spanthree">2017-05-12 14:25:02</span><span class="r_spanfour">1359k</span><span class="r_spanfive">宁愿糊涂</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6509/"> 都市最强装逼系统</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6509/4670121.html">第847章 握草！这羊怎么回事？【第一更】</a></span><span class="r_spanthree">2017-05-12 14:21:58</span><span class="r_spanfour">4372k</span><span class="r_spanfive">必火</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/2889/"> 狂武战帝</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/2/2889/4670120.html">第2442章 金仙级仙果</a></span><span class="r_spanthree">2017-05-12 14:21:40</span><span class="r_spanfour">14484k</span><span class="r_spanfive">被罚站的豆豆</span></li>

          <li><span class="genre">[历史军事]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6119/"> 原始人都惊呆了</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6119/4670119.html">第534章 找办法</a></span><span class="r_spanthree">2017-05-12 14:21:14</span><span class="r_spanfour">2990k</span><span class="r_spanfive">千书过</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/7762/"> 超神支付</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/7/7762/4670114.html">第一百五十三节 谁还能蹭霸王机缘？</a></span><span class="r_spanthree">2017-05-12 14:21:07</span><span class="r_spanfour">878k</span><span class="r_spanfive">第三颗雪梨</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/4950/"> 异界之英雄联盟商场</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/4/4950/4670113.html">第六百三十九章 上场</a></span><span class="r_spanthree">2017-05-12 14:20:55</span><span class="r_spanfour">3356k</span><span class="r_spanfive">时人雨</span></li>

          <li><span class="genre">[历史军事]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/7502/"> 回到三国当皇上</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/7/7502/4670112.html">第二百八九章 攻门</a></span><span class="r_spanthree">2017-05-12 14:20:46</span><span class="r_spanfour">1458k</span><span class="r_spanfive">北魏律香川</span></li>

          <li><span class="genre">[侦探推理]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/7459/"> 网游之踏碎西游</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/7/7459/4670111.html">第三百二四章意外之喜（一四）</a></span><span class="r_spanthree">2017-05-12 14:20:43</span><span class="r_spanfour">1714k</span><span class="r_spanfive">污流顽石</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6567/"> 西游之八戒全能系统</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6567/4670109.html">第1166章 摸到小姨子了（三更求订阅）</a></span><span class="r_spanthree">2017-05-12 14:14:39</span><span class="r_spanfour">5524k</span><span class="r_spanfive">无乌</span></li>

          <li><span class="genre">[都市言情]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/7739/"> 校园最强护花系统</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/7/7739/4670106.html">第467章 杀气</a></span><span class="r_spanthree">2017-05-12 14:13:49</span><span class="r_spanfour">2505k</span><span class="r_spanfive">罪洋.CS</span></li>

          <li><span class="genre">[历史军事]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/699/"> 三国重生马孟起</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/0/699/4670105.html">第三〇六章 马孟起曹操摆宴（续）</a></span><span class="r_spanthree">2017-05-12 14:13:09</span><span class="r_spanfour">24134k</span><span class="r_spanfive">夏海苍松</span></li>

          <li><span class="genre">[都市言情]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/1745/"> 极品透视</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/1/1745/4670104.html">第两千六百八十四章 遭受天谴</a></span><span class="r_spanthree">2017-05-12 14:12:48</span><span class="r_spanfour">21969k</span><span class="r_spanfive">赤焰圣歌</span></li>

          <li><span class="genre">[玄幻魔法]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/2024/"> 十方神王</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/2/2024/4670103.html">第一千四百零二章 永恒境魔兽苏醒</a></span><span class="r_spanthree">2017-05-12 14:12:46</span><span class="r_spanfour">11284k</span><span class="r_spanfive">贪睡的龙</span></li>

          <li><span class="genre">[都市言情]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/6266/"> 万界淘宝商</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/6/6266/4670060.html">第五百六十九章 只是……苦了月儿了</a></span><span class="r_spanthree">2017-05-12 14:12:30</span><span class="r_spanfour">3144k</span><span class="r_spanfive">叶恨水</span></li>

          <li><span class="genre">[都市言情]</span><span class="r_spanone"><a href="http://www.bqg5200.com/book/5690/"> 重活一次</a></span><span class="r_spantwo"><a href="http://www.bqg5200.com/xiaoshuo/5/5690/4670037.html">第1142章 竞争渐烈的电池市场</a></span><span class="r_spanthree">2017-05-12 14:12:23</span><span class="r_spanfour">5952k</span><span class="r_spanfive">妖月白狐</span></li>

        </ul>
      </div>
    </div>
    <div class="list_center w_200 left">
      <div class="update_title">
        <span class="update_icon">最新入库</span>
      </div>
      <div class="bookList">
        <ul>

          <li><strong>蓝领笑笑生</strong><a href="http://www.bqg5200.com/book/7766/">全能修炼至尊</a></li>

          <li><strong>千斤顶</strong><a href="http://www.bqg5200.com/book/7765/">我在明朝当国公</a></li>

          <li><strong>键盘华尔兹</strong><a href="http://www.bqg5200.com/book/7764/">幻想世界大复制</a></li>

          <li><strong>江溪小鱼</strong><a href="http://www.bqg5200.com/book/7763/">仙魔大秦</a></li>

          <li><strong>第三颗雪梨</strong><a href="http://www.bqg5200.com/book/7762/">超神支付</a></li>

          <li><strong>流年往事</strong><a href="http://www.bqg5200.com/book/7761/">主神的黑店</a></li>

          <li><strong>左手厉害</strong><a href="http://www.bqg5200.com/book/7760/">通天剑匣</a></li>

          <li><strong>凡宇殿下</strong><a href="http://www.bqg5200.com/book/7759/">西游之最强恶魔果树</a></li>

          <li><strong>星痕一线天</strong><a href="http://www.bqg5200.com/book/7758/">最强狂暴之卡牌系统</a></li>

          <li><strong>九霄龙</strong><a href="http://www.bqg5200.com/book/7757/">重生之修仙狂少</a></li>

          <li><strong>JK丶y</strong><a href="http://www.bqg5200.com/book/7756/">炼魂相师</a></li>

          <li><strong>讲古书生</strong><a href="http://www.bqg5200.com/book/7755/">都市最强灵皇</a></li>

          <li><strong>火锅煮字</strong><a href="http://www.bqg5200.com/book/7754/">最强狂暴幸运系统</a></li>

          <li><strong>一日十更</strong><a href="http://www.bqg5200.com/book/7753/">都市超品小仙农</a></li>

          <li><strong>蚀月纯黑</strong><a href="http://www.bqg5200.com/book/7752/">超念觉醒</a></li>

          <li><strong>宝巨要崛起</strong><a href="http://www.bqg5200.com/book/7751/">归来的宗师</a></li>

          <li><strong>青幕山</strong><a href="http://www.bqg5200.com/book/7750/">进入电影</a></li>

          <li><strong>大猪神</strong><a href="http://www.bqg5200.com/book/7749/">洪荒火榕道</a></li>

          <li><strong>慕芯情</strong><a href="http://www.bqg5200.com/book/7748/">曹夫子</a></li>

          <li><strong>梧栖凤</strong><a href="http://www.bqg5200.com/book/7747/">传奇巨星</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>