<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || SiteConfig.title %></title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <p class="legal">&mdash; &copy; <%= Time.now.strftime("%Y") %> <%= SiteConfig.author %> &mdash;</p>
      </div>
    </div>
  </body>
</html>
