
/*html {*/
    /*color: #000;*/
    /*background: #F1F1F1;*/
/*}*/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    font-size: 18px;
    line-height: 1.618;
    background: #FFF;
    color: #1B1B1B;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}
.header {
    /*text-align: center;*/
    /*border-bottom: 3px solid #000;*/
    width: 96%;
    max-width: 900px;
    min-height: 60px;
    margin:10px auto 0 auto;
    text-align:center;
}
.content {
    padding: 0;
    width: 96%;
    max-width: 900px;
    margin:20px auto 30px auto;
    text-align:center;
}
.footer {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    text-align: center;
    /*border-top: 3px solid #000;*/
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0em;
    margin-bottom: .25em;
    font-weight: bold;
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
a {
    color: #0366d6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}

.s_lg_img {
    text-align:right;
}

.s-form {
    text-align:right;
    max-width: 550px;
    margin: 17px 0 5px 0;
}

.s_ipt {
    border: 1px solid #b6b6b6;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 55%;
    max-width: 400px;
    height: 36px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.s_btn {
    cursor: pointer;
    width: 35%;
    max-width:150px;
    min-width:80px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #49A9A9;
    border-bottom: 1px solid #208181;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    padding: 0;
    margin-left: -8px;
}